<form method="post" action="{{ path('app_vehicule_delete', {'idvehicule': vehicule.idvehicule}) }}" onsubmit="return confirmDelete();">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ vehicule.idvehicule) }}">
    <button class="btn delete-btn">Delete</button>
</form>

<script type="text/javascript">
function confirmDelete() {
    if (!confirm("Warning: This action is permanent and cannot be undone. Are you sure you want to delete this item?")) {
        return false;
    } else if (!confirm("Note: All maintenance related to this vehicle will be deleted as well. Are you sure you want to proceed?")) {
        return false;
    } else {
        return true;
    }
}
</script>
