<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Catalogue de voitures</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            font-size: 12px;
            line-height: 1.5;
        }
        h1 {
            font-size: 18px;
            text-align: center;
            margin-top: 30px;
            margin-bottom: 30px;
        }
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th {
            background-color: #ddd;
            padding: 10px;
            border: 1px solid #ccc;
        }
        td {
            padding: 10px;
            border: 1px solid #ccc;
        }
        img {
            max-width: 100px;
            max-height: 100px;
        }
    </style>
</head>
<body>
    <h1>Catalogue de voitures</h1>
    <table>
        <thead>
            <tr>
                <th>Image</th>
                <th>Matricule</th>
                <th>Modèle</th>
                <th>Prix</th>
            </tr>
        </thead>
        <tbody>
            {% for vehicule in vehicules %}
            <tr>
                <td><img src="{{imageSrc}}" style="width:200px;"></td>
                <td>{{ vehicule.matricule }}</td>
                <td>{{ vehicule.modele }}</td>
                <td>{{ vehicule.prix }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
