{% extends 'base.html.twig' %}

{% block title %}New Reservation{% endblock %}

{% block body %}
 <div class="r-slider-serach form-search dark">
              <form action="#">
                  <div class="form-title form-title-large">
                      <span class="r-form-icon"><img src="assets/images/footer-form-icon.png" alt=""></span>
                      <h2>Search Your <b>Best Cars</b></h2>
                      <small> 120+ CARS TYPE &amp; BRANDS </small>
                  </div>
                  <div class="row row-inputs">
                    <div class="col-sm-12">
                        <div class="form-group has-icon has-label">
                            <label>Picking Up Location</label>
                            <input type="text" class="form-control" id="formSearchUpLocation" placeholder="Airport or Anywhere">
                            <span class="form-control-icon"><i class="fa fa-map-marker"></i></span>
                        </div>
                    </div>
                  </div>
                  <div class="row row-inputs">
                    <div class="col-sm-12">
                        <div class="form-group has-icon has-label">
                            <label>Dropping Off Location</label>
                            <input type="text" class="form-control" id="formSearchOffLocation" placeholder="Airport or Anywhere">
                            <span class="form-control-icon"><i class="fa fa-map-marker"></i></span>
                        </div>
                    </div>
                  </div>
                 <div class="row row-inputs">
  <div class="col-sm-6">
    <div class="form-group has-icon has-label label" id="datetimepicker2" data-target-input="nearest">
      <label for="formSearchUpDate">Picking Up Date</label>
      <input type="date" class="form-control" id="formSearchUpDate" name="datedebut_date" >
    </div>
  </div>
  <div class="col-sm-6">
    <div class="form-group has-icon has-label date" id="datetimepicker3" data-target-input="nearest">
      <label for="formSearchUpTime">Picking Up Time</label>
      <input type="time" class="form-control" id="formSearchUpTime" name="datedebut_time">
    </div>
  </div>
</div>

                 <div class="row row-inputs">
  <div class="col-sm-6">
    <div class="form-group has-icon has-label label" id="datetimepicker2" data-target-input="nearest">
      <label for="formSearchUpDate">Dropping Off Date</label>
      <input type="date" class="form-control" id="formSearchUpDate" name="datefin_date">
    </div>
  </div>
  <div class="col-sm-6">
    <div class="form-group has-icon has-label date" id="datetimepicker3" data-target-input="nearest">
      <label for="formSearchUpTime">Dropping Off Time</label>
      <input type="time" class="form-control" id="formSearchUpTime" name="datefin_time">
    </div>
  </div>
</div>

                  <div class="form-footer">
                    <div class="inner clearfix">
                        <a href="#" class="float-left"><i class="fa fa-plus-circle"></i>Advanced Search</a>
                        {# <button type="submit" class="btn m-auto d-block btn-full" >Find Car</button> #}
  <a href="{{ path('app_vehicule_index') }}" class="btn m-auto d-block btn-full" >Find Car</a>
                    </div>
                  </div>
              </form>
            </div>
          </div>
          {% endblock %}