{% extends 'base.html.twig' %}

{% block title %}Edit Amende{% endblock %}

{% block body %}
    <h1>Edit Amende</h1>

    {{ include('amende/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_amende_index') }}">back to list</a>

    {{ include('amende/_delete_form.html.twig') }}
{% endblock %}
